@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    @apply m-0 bg-neutral-50 font-sans text-neutral-900 antialiased dark:bg-neutral-900 dark:text-neutral-100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    @apply dark:invert;
  }
}

@layer components {
  .file-upload-drag {
    @apply border-primary-500 bg-primary-50;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
